.carousel-section {
    padding-block: 5rem;
    .carousel-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start; /* Add this line to align items to the top */
        display: none;
    }

    .product-card {
        width: calc(16.66% - 10px);
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
        transition: background-color 0.3s ease;
        display: flex; /* Add this line to enable flex display */
        flex-direction: column; /* Add this line to stack product name below the image */
        align-items: center; /* Add this line to center align content */
    }

    .product-card img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
        align-self: center; /* Add this line to center align the image */
    }

    .carousel-item.active {
        display: block;
    }
}
