.login-form {
    padding: 15px 0 60px 0;

    @include lg {
        padding: 15px 0;
    }

    .container {
        border: 0px solid $color-dark-5;
        padding: 30px;

        @include md {
            border: 1px solid $color-dark-5;
        }
    }

    .title {
        margin-bottom: 40px;
    }

    form {
        display: grid;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas: "message" "email" "password" "rememberme" "button";

        .validation-summary-errors {
            grid-area: message;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                color: $color-theme-1;
            }
        }

        .message {
            grid-area: message;
        }

        .email {
            grid-area: email;
        }

        .password {
            grid-area: password;
        }

        .rememberme {
            grid-area: rememberme;
            margin: 10px 0;
        }

        button {
            grid-area: button;

            @include lg {
                display: flex;
                justify-self: flex-start;
            }
        }

        .error {
            color: red;
        }
    }
}
