
    .product-details {
        height: 900px;
        width: 100%;
        padding-top: 5rem;

        .container {
            padding-block: 5rem;
        }
        
        .product-name {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
    }

    .product-price {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
    }

    .product-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .product-image {
     
    }
    
    .product-properties {
        margin-bottom: 1rem;
    }
}