@model RegisterViewModel
@{
	ViewData["Title"] = "Create a new account";
}

<div class="page-header">
    <h1>Register</h1>
	<p>Sign up and get your account today</p>
</div>

<partial name="/Views/Partials/Forms/_RegisterView.cshtml" />