<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO C.Shack</div>
            <div class="title">Top-quality computer-parts to a low price!</div>
            <a href="/products" class="btn btn-theme">Shop Now</a>
        </div>
        <div class="content-image">
            <img class="rounded" src="images/placeholders/product(18).jpg" alt="Computer">
        </div>
    </div>
</section>
