

<section class="showcase">
    <div class="container">
        <div class="content">
            <div class="ingress">WELCOME TO C-Shack</div>
            <div class="title">Top-quality computer-parts to a low price!</div>
            <button class="btn-theme">SHOP NOW</button>
        </div>
        <div class="content-image">
            <img src="images/placeholders/product(18).jpg" alt="Computer">
        </div>
    </div>
</section>
