@model IEnumerable<AppUser>
@{
    ViewData["Title"] = User.FindFirst("DisplayFirstName")?.Value;
}

<div class="page-header">
    <h1>Hello @User.FindFirst("DisplayFullName")?.Value! </h1>
    <p>Here's an overview of your account</p>
</div>

<div class=" account-container">
        <p> This page is under construction</p>
</div>