@model IEnumerable<AppUser>
@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
}

<div class="page-header">
    <h1>Account</h1>
</div>

<div class=" account-container">
    <h1>Welcome to your account</h1>
    <p>Here's an overview of your account'</p>
    <div>
            @User.Identity!.Name
    </div>
</div>