@model LoginViewModel
@{
	ViewData["Title"] = "Login to your account";
}

<div class="page-header">
    <h1>Welcome</h1>
	<p>This is the sign in page</p>
</div>

<partial name="/Views/Partials/Forms/_LoginView.cshtml" />