@{
	ViewData["Title"] = "Acess was Denied";
}
<div class="page-header">
    <h1>Denied</h1>
    <p>You have no access to this page</p>
</div>
<partial name="/Views/Partials/Components/_Denied.cshtml" />