@model IEnumerable<AppUser>

@{
    ViewData["Title"] = User.FindFirst("DisplayName")?.Value;
}
<div class="page-header">
    <h1>Admin Backlog</h1>
</div>

<div class="admin-container">
    <h1>Welcome to Admin Backoffice</h1>
    <p>Here you can see an overview of all accounts that are registerd at this website</p>
    <div>
    <div>
    <h1>Admin accounts</h1>
    @if (User.IsInRole("admin"))
    {
        <p>@User.Identity.Name</p>
    }
    </div>
    
    <div>
        <h1>Other accounts</h1>
            @foreach(var item in Model)
            {
              <div>
                <p>
                    @item.FirstName
                    @item.LastName
                </p>
   
                <p>
                    @item.UserName
                </p>
              </div>
            }
        </div>
    </div>
</div>