@{
	ViewData["Title"] = "Products";
} 
@model ProductsIndexViewModel
<partial name="/Views/Partials/Components/_Breadcrumb.cshtml" />

<div style="padding-top: 150px;">
	<partial name="/Views/Partials/Components/_GridCollection.cshtml" model="@Model.All" />
</div>