@model ContactUsViewModel

<section class="contact-form">
    <div class="container">
        <div class="title">Contact us</div>
        <p>Send us an email and we'll get back to you as soon as possible.</p>

        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="form-group error"></div>

            <div class="firstname form-group">
                <label asp-for="FirstName"> Firstname</label>
                <input asp-for="FirstName" />
                <span asp-validation-for="FirstName" class="error"></span>
            </div>

            <div class="lastname form-group">
                <label asp-for="LastName"> Lastname</label>
                <input asp-for="LastName" />
                <span asp-validation-for="LastName" class="error"></span>

            <div class="email form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" class="error"></span>
            </div>
                <div class="phoneNumber form-group">
                    <label asp-for="PhoneNumber">Phonenumber</label>
                    <input asp-for="PhoneNumber " />
                    <span asp-validation-for="PhoneNumber" class="error"></span>
                </div>

         
             <div class="message form-group">
                <label asp-for="Message"> Ask us something!</label>
                <input asp-for="Message" />
                <span asp-validation-for="Message" class="error"></span>
             </div>
            <button class="btn-theme">Submit</button>
        </form>
       </div>
</section>