@{
	ViewData["Title"] = "Contact Us";
}

<div class="page-header">
    <h1>Contact Us</h1>
	<p>Have any questions? Let us know!</p>
</div>
<partial name="/Views/Partials/Forms/_ContactForm.cshtml" />
<partial name="/Views/Partials/Components/_GoogleMaps.cshtml" />